!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
    %title= content_for?(:title) ? yield(:title) : 'Book Store'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render 'shared/navigation'
    .container
      = render 'shared/messages'
      = yield
    .container
      = render 'shared/footer'
